<p id="notice"><%= notice %></p>

<h1>Episode Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Episode</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episode_comments.each do |episode_comment| %>
      <tr>
        <td><%= episode_comment.user_id%></td>
        <td><%= episode_comment.episode_id %></td>
        <td><%= episode_comment.content %></td>
        <td><%= link_to 'Show', episode_comment %></td>
        <td><%= link_to 'Edit', edit_episode_comment_path(episode_comment) %></td>
        <td><%= link_to 'Destroy', episode_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode Comment', new_episode_comment_path %>
