<%= form_for(fav_show) do |f| %>
  <% if fav_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fav_show.errors.count, "error") %> prohibited this fav_show from being saved:</h2>

      <ul>
      <% fav_show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :tv_show_id %>
    <%= f.text_field :tv_show_id %>
  </div>

  <div class="field">
    <%= f.label :favorite %>
    <%= f.check_box :favorite %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
